body [data-slate-hover="true"] .element-tools-container {
  outline: 2px solid var(--hover-color);
  .element-tools {
    color: #fff;
    background-color: var(--hover-color);
  }
  .element-drag-button {
    background-color: var(--hover-color);
  }
}

[data-slate-block="page"][data-slate-hover="true"] > .element-tools-container {
  .element-tools {
    display: none;
  }
  .element-drag-button {
    display: none;
  }
}
