.beacas-image-MoreIcon {
  width: 26px;
  height: 26px;
  padding: 2px;
  position: absolute;
  color: #fff;
  right: 0px;
  z-index: 10;
  top: 0px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(55, 53, 47, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  svg {
    width: 13px;
  }
}
